*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{

    color: #FDF6F6;
    background-color:  #2F3C7E;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    
}
h1{

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color:#D3D3D3;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
h1 i{
    margin-left: 30px;
    color: #FBEAEB;
}
.boxContainer{

   background-color: #FBEAEB;
   width: 100%;
   max-width: 540px;
   border-radius: 12px; 
   display: flex;
   flex-wrap: wrap;
   margin: 100px auto 20px;
   padding: 40px 30px 70px;  
   border-radius: 10px; 

}
.row{

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    flex: 1;
    background-color: white;

}

input{

    border: none;
    outline: none;
    padding: 10px;
    font-weight: 14px;

}

button{

    border: none;
    outline: none;
    border-radius: 30px;
    padding: 15px 30px;
    background-color: #763626;
    color: white;
    cursor: pointer;

}
button:hover{
    background-color: #94442e;
}
button i{
    margin-right: 10px;
}

.taskList{

   list-style: none;
   font-size: 17px;
   width: 100%;
   user-select: none;
   cursor: pointer;
    
} 

ul.taskList li{
   
    position: relative;
    list-style: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #090a0a;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;

}
ul.taskList li:before{
   content: '';
   position: absolute;
   top: 10px;
   left: 8px;
   background-image: url(./unchecked.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat; 
   width: 25px; 
   height: 25px; 
   border-radius: 50%;

}
ul.taskList li.cheacked{

    color: grey;
    text-decoration: line-through;

}
ul.taskList li.cheacked::before{

    background-image: url(check.png);

}
ul.taskList li span{

    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    border-radius:100px;

}
ul.taskList li span:hover{

    background-color: #D3D3D3;
    color: white;

}
